

body {
    font-family: 'Inter' !important;
    margin: 0;
    padding: 0;
    min-height: 100%;
    height: 100%;
    width: 100%;
}

button, input, select {
    font-family: 'Inter' !important;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
    
}


.block {
    display: block;
}

.flex {
    display: flex;
}

.flex.flex-column {
    flex-direction: column;
}

.flex.flex-row {
    flex-direction: row;
}

.flex.flex-gap {
    gap: 1rem;

}

.inline {
    display: inline;

}

.no-margin {
    margin: 0;

}

.no-padding {
    padding: 0;
}

.no-wrap {
    flex-wrap: nowrap;
}

.dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }


div.flex-row {
    display: flex;
    flex-direction: row;
}
.blur {
    filter: blur(2px);
}