/* Animations.css */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }    
}
@keyframes frombottom {
  0% {
    opacity: 0;    
    transform: translateY(100px);
  }
  100% {
    opacity: 1;    
    transform: translateY(0);
  }    
}

@keyframes rotate180 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}


@keyframes blink {
  0% {
    opacity: 1;
  }  
  50% {
    opacity: 0.7;    
  }
  100% {
    opacity: 1;    
  }
  
}