input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.floating-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f8f9fa;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 10vh;
    border-radius: 50px;
    min-height: 350px;
}

.floating-box .invalid {
    background-color: var(--lightred);
}

.floating-box .input-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 200px;
    max-width: 300px;
    margin-bottom: 20px;
}

.floating-box select:focus {
    border: unset;
}

.floating-box select {

    appearance: none;
    /* safari */
    -webkit-appearance: none;
    /* other styles for aesthetics */
    width: 100%;
    font-size: 1rem;
    padding: 0.675em 6em 0.675em 1em;
    background-color: var(--lightgray);
    border: unset;
    border-radius: 30px;
    color: black;
    cursor: pointer;
}




.floating-box input {
    border: unset;
    border-radius: 30px;
    height: 30px;
    background-color: var(--lightgray);
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.floating-box input[type="radio"] {
    height: auto;
    margin: 3px;
}


.floating-box input:focus {
    border: unset;
}

.floating-box button {
    width: 100%;
    border: unset;
    border-radius: 30px;
    background-color: var(--steelblue);
    color: var(--white);
    font-weight: bold;
    font-size: medium;
    padding: 10px 20px;
    cursor: pointer;
}

.floating-box button:hover {
    background-color: #5193c2;
}

.floating-box h2 {
    margin-bottom: 50px;
    font-weight: 700;
    text-transform: uppercase;
}

.floating-box hr {
    width: 100%;
    padding-bottom: 0px;
    margin-bottom: 0px;
    border-color: var(--steelblue);
}

.floating-box p {
    color: var(--steelblue);
}

.floating-box a {
    color: var(--steelblue);
}