#searchbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    background-color: var(--lightgray);
    border-radius: 1rem;
    overflow: hidden;
    width: 100%;
    min-width: 500px;

    #input-label {
        height: auto;
        width: 100%;            
        padding-inline: 1rem;  
    }

    input {        
        background-color: transparent;
        border: none;
        height: 100%;
        width: 100%;
    }

    input:focus {
        border: none;
        outline: none;
    }

    button {
        margin-left: 0.5rem;
        background-color: transparent;
        outline: none;
        border: none;
        border-radius: 10rem;
        padding: 0.1em;
    }

    button:hover {
        cursor: pointer;
        background-color: var(--infoblue);
        opacity: 0.8;
        transition: background-color 0.3s ease;
    }

    select {
        
        font: inherit;
        font-weight: normal;
        background-color: transparent;
        border: none;
        height: 100%;
        padding-inline: 0.5rem;                
    }

    .material-symbols-rounded {
        transition: all 0.2s ease;
    }

    .material-symbols-rounded:hover {
        cursor: pointer;
        transform: scale(1.1);
        animation-duration: 0.3s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
    }

    .material-symbols-rounded.upside-down:hover {
        transform: scale(1.1) rotate(180deg);
    }

    #orderby-section {
        overflow: visible;
        display: flex;
        flex-direction: row;
        height: 100%;
        align-items: center;
        padding: 0;
        margin: 0;
    }
}

#search-orderby {
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
    width: max-content;
    height: 100%;

    span {
        position: relative;
        top: 0.3rem;
        font-size: 1.2rem;
        font-weight: normal;
    }

}
