input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#simple-header-1 {    
    background-color: var(--white);    
    padding: 20px;
    border-radius: 10px;
    h1 {
        color: #437CA5;
        font-weight: 900;
        font-size: 2.5rem;
        margin-bottom: 10px;
        margin-top: 10px;
        margin-left: 10px;
    }
}

.floating-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:var(--white);
    padding: 50px;
    margin-top: 10vh;
    border-radius: 50px;
    min-height: 350px;
    
    .input-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        min-width: 200px;
        max-width: 300px;
        margin-bottom: 20px;
    }
    
    
    input[type="radio"] {
        height: auto;
        margin: 3px;
    }
    
    h2 {
        margin-bottom: 50px;
        font-weight: 700;
        text-transform: uppercase;
    }
    hr {
        width: 100%;
        padding-bottom: 0px;
        margin-bottom: 0px;
        border-color: var(--steelblue);
    }
    p {
        color: var(--steelblue);
    }
    a {
        color: var(--steelblue);
    }
    
}

