#ticket {
    width: 350px;
}
#ticket-header {
    background-color: var(--steelblue);
    color: var(--white);
    padding-inline: 40px;
    display: flex;
    align-items: center;
    img {
        width: 100px;
        height: 100px;
    }
    label {
        margin-right: auto;
        h1, p {
            margin: 0;
        }
    }
}
#ticket-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    
    ul {
        padding: 0;
        list-style: none;
        display: block;
        min-width: 250px;
    }
    li {

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        h3, p {            
            margin: 0;
        }
        h3 {
            margin-right: auto;
        }
    }
    #ticket-total {
        padding-block: 10px;
        border-block: 1px solid black;
    }
}

#ticket-info-1 {
    max-width: 270px;
    font-weight:200;
}